<div class="sign_in">
  <ons-navigator title="Navigator" var="myNavigator">
  <ons-page class="ons">
  <div class="container">
    <h1 class="text-center">
      <%= image_tag 'logo.png', alt: 'ロゴ' %>
    </h1>
    <p class="text-center">
      <span class="ma">MA</span>EMUKIは、あなたとフォロワーのつぶやき（投稿）から幸福度をはかるサービスです。
    </p>

    <div class="login-form">
      <%= link_to 'user_omniauth_authorize_path(:twitter)' do %>
        <ons-button modifier="large" class="login-button">
          <i class="fa fa-twitter"></i> Twitterでログイン
        </ons-button>
      <% end %>
    </div>
  </div>
  </ons-page>
  </ons-navigator>
</div>