<!-- 一番最初の画面 -->

<div class="container text-center">
  <h1>
    <%= image_tag("maemuki.png", alt: "MAEMUKI") %>
  </h1>
  <p class="lead">
    <span class="red">MA</span>EMUKIは、あなたとフォロワーのつぶやき（投稿）から幸福度をはかるサービスです。<small>（適当）</small>
  </p>
  <%= link_to(fa_icon('twitter', text: 'Twitterでログイン'), user_omniauth_authorize_path(:twitter), class: 'btn btn-info btn-lg btn-block') %>
  <br>
  <%= link_to(fa_icon('facebook-square', text: 'Facebookでログイン'), user_omniauth_authorize_path(:facebook), class: 'btn btn-info btn-lg btn-block') %>
</div>