<%# ログイン画面 %>

<button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-twitter"></i> Twitterでログイン</button>

<button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-facebook-square"></i> Facebookでログイン</button>