body{
  background-color: #5DD93A;
  h2{ color: #5C372E; }
  h3{ color: #5C372E; }
}

.users-header {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  margin-bottom: 40px;
  position: relative;
  padding: 40px 15px;
  color: #ffffff;
  background-color: #D30446;
  h1 { font-size: 60px; }
}